<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<GridLayout>
    <StackLayout>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
    
    <StackLayout class="overlay" visibility="{{isBusy ? 'visible' : 'collapsed'}}">
    </StackLayout>
    <GridLayout rows="*" visibility="{{isBusy ? 'visible' : 'collapsed'}}">
        <ActivityIndicator row="1" width="100" height="100" [busy]="'true'" class="activity-indicator"></ActivityIndicator>
    </GridLayout>
</GridLayout>


