<ActionBar title="Favourites" class="action-bar">
    <ActionItem android.systemIcon="ic_menu_add" 
        android.position="actionBar" [nsRouterLink]="['../cities']"></ActionItem>
</ActionBar>

<ListView class="list-group" [items]="items">
    <ng-template let-item="item">
        <GridLayout class="list-group-item" rows="*" columns="70, *, 100">
            <StackLayout row="0" col="0">
                <Image src="res://icon" class="img-circle"></Image>
            </StackLayout>
            <StackLayout row="0" col="1" class="m-l-10">
                <Label [text]="item.city" class="font-weight-bold"></Label>
                <StackLayout orientation="horizontal">
                    <Label [text]="item.price" class="list-group-item-text m-r-10" ></Label>
                    <Label [text]="item.change" class="list-group-item-text" ></Label>
                </StackLayout>
                <Label [text]="item.date" class="list-group-item-text"></Label>
            </StackLayout>
            <StackLayout row="0" col="2" style="padding-top: 30px">
                <Button class="btn btn-outline" text="Remove"
                    (tap)="removeFavourite(item.city)"></Button>
            </StackLayout>
        </GridLayout>
    </ng-template>
</ListView>