<ActionBar title="Favourites">
    <ActionItem android.systemIcon="ic_menu_add" 
        android.position="actionBar" [nsRouterLink]="['../cities']"></ActionItem>
</ActionBar>

<ListView class="threads-list" [items]="items">
    <ng-template let-item="item">
        <GridLayout columns="*,auto" rows="auto,auto" class="threads-list-wrapper">
            <!-- <Image row="0" col="0" [src]="item.photo"></Image> -->
            <StackLayout col="0" class="" orientation="vertical">
                <Label class="t-large" [text]="item.city"></Label>
                <Label [text]="item.price"></Label>
                <Label [text]="item.date"></Label>
                <Label [text]="item.change"></Label>
            </StackLayout>
            <StackLayout col="1">
                <Button style="margin-left: 5; margin-right: 5;"
                    text="Remove" class="action-item" (tap)="removeFavourite(item.city)"></Button>
            </StackLayout>
        </GridLayout>
    </ng-template>
</ListView>