<ActionBar title="Cities" icon="" class="action-bar">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<StackLayout class="page page-content">
        <StackLayout>
                <SearchBar hint="Search city" (textChange)="onTextChanged($event)"></SearchBar>
        </StackLayout>
        <StackLayout>
            <ListView [items]="cities | search : searchText" class="list-group">
                <ng-template let-city="item" let-i="index" let-odd="odd" let-even="even">
                    <GridLayout class="list-group-item" [nsRouterLink]="[city]" columns="*,auto" rows="auto,auto">
                        <Label col="0" [text]="city"></Label>
                        <Button col="1" style="margin-left: 5; margin-right: 5;"
                         text="Add" class="action-item" (tap)="addAsfavourite(city)"></Button>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
</StackLayout>