<ActionBar class="action-bar" title="Home"></ActionBar>

<StackLayout class="page page-content">
        <StackLayout>
                <SearchBar hint="Search city" (textChange)="onTextChanged($event)"></SearchBar>
        </StackLayout>
        <StackLayout>
            <ListView [items]="filteredCities | search : searchText" class="list-group">
                <ng-template let-city="item" let-i="index" let-odd="odd" let-even="even">
                    <GridLayout class="list-group-item">
                        <Label [text]="city" [nsRouterLink]="[city]"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
</StackLayout>