<ActionBar class="action-bar">
    <NavigationButton [nsRouterLink]="['../../home']" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label class="action-bar-title" [text]="item.city"></Label>
</ActionBar>

<GridLayout columns="*, 2*, *" rows="*, *, *, *, *" width="210" height="210" backgroundColor="lightgray" >
    <Label [text]="item.price" row="1" col="1" colspan="2" ></Label>
    <Label [text]="item.change" row="2" col="1" colspan="2"></Label>
    <Label [text]="item.date" row="3" col="1" colspan="2"></Label>
</GridLayout>